:root {
    --bg-color: #00BAFC;
    --hover-color: #0381af;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

/* 
    FIRST SECTION
*/

.nav {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.nav .container {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
}

.nav-item {
    padding: 0 10px;
    margin: 0 5px;
}

.nav-item:last-child .nav-link {
    background-color: var(--bg-color);
    color: white;
    padding: 8px 10px;
    border-radius: 5px;
    transition: background .3s;
}

.nav-item:last-child .nav-link:hover {
    background-color: var(--hover-color);
}

.nav-link {
    color: black;
    transition: color .3s;
}

.nav-link:hover {
    color: rgba(0,0,0,0.6);
}

/* 
    SECOND SECTION
*/

.business .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;
}

.business__iframe {
    width: 40%;   
}

.business__iframe iframe {
    border-radius: 10px;
    width: 100%;
}

.business__content {
    width: 50%;
}

.business__title {
    font-size: 35px;
    width: 100%;
    margin-bottom: 30px;
}

.business__subtext {
    line-height: 1.7;
    margin-bottom: 40px;
}

.business__link {
    background-color: var(--bg-color);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background .3s;
}

.business__link:hover {
    background-color: var(--hover-color);
}

/* 
    THIRD SECTION
*/

.serves .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.serves__title {
    font-size: 35px;
    margin-bottom: 30px;
}

.serves__subtext {
    text-align: center;
    width: 60%;
    margin-bottom: 40px;
}

.serves__list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.serves__item {
    width: calc(100% / 3 - 3%);
    margin: 15px 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 30px 15px;
}

.serves__list__image {
    width: 60%;
}

.serves__list__title {
    margin: 20px 0;
}

.serves__links {
    margin-top: 30px;
}

.booking {
    background-color: var(--bg-color);
    padding: 5px 20px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    transition: background .3s;
}

.booking:hover {
    background-color: var(--hover-color);
}

.category {
    color: var(--bg-color);
    text-decoration: underline;
    margin-left: 10px;
    transition: color .3s;
}

.category:hover {
    color: var(--hover-color);
}

/* 
    FOURTH SECTION
*/

.work .container {
    padding: 100px 0;
}

.work__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.work__title {
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
}

.work__subtext {
    text-align: center;
    width: 65%;
}

.boxes, .boxes1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px 0;
}

.boxes1 {
    flex-direction: row-reverse;
}

.box__content__title {
    margin-bottom: 10px;
}

.work__footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.work__footer__link {
    background-color: var(--bg-color);
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: background .3s;
}

.work__footer__link:hover {
    background-color: var(--hover-color);
}

/* 
    FIFTH SECTION
*/

.order {
    background-color: var(--bg-color);
}

.order .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}

.order__title {
    font-size: 35px;
    color: white;
    margin-bottom: 20px;
}

.order__subtext {
    color: white;
    width: 60%;
    text-align: center;
    margin-bottom: 30px;
}

.order__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    width: 30%;
    border-radius: 5px;
}

.order__label {
    margin-bottom: 20px;
}

.order__input {
    background-color: #F3F3F3;
    border: none;
    padding: 15px;
    width: 300px;
    border-radius: 5px;
    outline: none;
}

.order__input::placeholder {
    font-size: 15px;
    color: black;
}

.order__select {
    padding: 15px;
    background-color: #F3F3F3;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 300px;
}

.order__select::selection {
    font-size: 20px;
}

.order__button {
    padding: 10px;
    width: 58%;
    background-color: var(--bg-color);
    color: white;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.order__button:hover {
    background-color: var(--hover-color);
}

/* 
    FOOTER SECTION
*/

.footer {

}

.footer .container {
    padding: 50px 0;
}

.footer__list {
    display: flex;
}

.footer__list:first-child {
    width: 70%;
}

.footer__item:nth-child(odd), .footer__item:last-child  {
    margin-left: 100px;
    width: 30%;
}

.footer__item__list a {
    display: flex;
}

